@import '../../styles/index.scss';

.property-details{
	.property-details__detail{
		img{
			float:left;
			margin:0 1em 1em 0;
		}
		p{
		 	@include purple-text($twenty);
		}
	}
	.property-details__value{
		p{
			margin:0 0 0.2em 0;
			text-align: right;
			@include purple-text($twenty-eight);
		}
		button{
			float:right;
			font-size:$fifteen;
		}
		.unemph{
			margin:0;
			color: $type;
			font-size: $fifteen;
			font-weight: normal;
		}
	}
}