@import './node_modules/normalize.css/normalize';
@import './node_modules/bootstrap/dist/css/bootstrap.min';
@import 'index.scss';

.row--no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.col--vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body{
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

h1, h2, h3, h4{
	margin-top:0;
	font-family: 'Source Sans Pro', sans-serif;
	color:$purple-main;
}

h1, h2{
	font-size: $twenty-eight;
	font-weight: 900;
}

h3{
	font-size: $twenty-two;
	font-weight: 900;
}

p{
	line-height: 1.2em;
}

.header{
	margin: 0 0 40px 0;
	height:100px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.3);
	box-shadow: 0px -1px 12px 5px rgba(0,0,0,0.3);
	h1{
		margin-top:50px;
		text-align: right;
	}
}

.btn{
	padding: 0.313em 0.625em;
	font-size: $seventeen;
	font-weight: 500;
	text-transform: uppercase;
	background-color: $grey-secondary;
	border:none;
	color:$white;
	line-height: 1em;
	&.btn--purple{
		background-color:$purple-secondary;
	}
}

.box-container{
	max-height:78px;
	margin-bottom:1.875em;
	padding:20px 40px;
	position: relative;
	border:1px solid $grey-main;
	overflow: hidden;
	transition: max-height 0.4s cubic-bezier(1, 0.14, 1, 1);
	transform:translateZ(0);
	&.active{
		max-height: 500px;
	}
	h2{
		margin: 0 0 0.714em 0;
		padding: 0 0 8px 0;
		border-bottom: 2px solid $grey-main;
	}
	&.box-container--purple{
		border-color:$purple-main;
	}
	.box-container__toggle{
		position: absolute;
		right:40px;
		top:25px;
		color:$purple-secondary;
		font-size:$fifteen;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.timestamp{
	margin:0 1em 0 0;
	float:left;
	color:$purple-main;
	font-size:$twelve;
	&:last-child{
		margin:0;
	}
}