@import '../../styles/index.scss';

.seller-response{
	&.seller-response--refuse{
		border-color:$red-main;
		background-color: rgba(0, 0, 0, 0.1);
		h2{
			color:$red-main;
		}
		.seller-response__message{
			color:$red-main;
		}
	}
	.seller-response__message{
		margin:0 0 0.727em 0;
		font-size:$twenty-two;
		font-weight: bold;
	}
}