@import '../../styles/index.scss';

.buyer-offer{
	.buyer-offer__price{
		font-size: $twenty-eight;
		font-weight: bold;
		line-height: 1em;
	}
	span{
		margin:0 0 1.455em 0;
		display: block;
		font-size: 0.688em
	}
}