@import '../../styles/index.scss';

.negotiation{
	h3{
		margin:0 0 0.727em 0;
	}
	.negotiation__expert{
		width:100%;
		margin:0.625em 0 1.875em 0;
		padding:20px 40px;
		display: inline-block;
		border: 1px solid $grey-main;
		p{
			margin:0;
			color:$purple-main;
		}
		button{
			float: right;
		}
	}
	.negotiation__row{
		margin-bottom: 1em;
	}
	.negotiation__price{
		span{
			margin:0 10px 0 0;
			float:left;
			font-size:2.500em;
			font-weight: bold;
			color: $type-light;
			line-height: 1em;
		}
		button{
			display: block;
		}
		input{
			width:100%;
			max-width:250px;
			height:auto;
			padding:0 0.179em;
			float:left;
			font-size: $twenty-eight;
		}
	}
	.negotiation__submit{
		button{
			float:right;
			font-size:$twenty-two;
		}
	}
}

@media only screen and (max-width: 668px) {
	.negotiation{
		&.active{
			max-height: 800px !important;
		}
		.negotiation__price{
			input{
				margin-bottom:1em;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.negotiation{
		.negotiation__expert{
			p{
				margin:0 0 1em 0;
			}
		}
	}
}