@import '../../styles/index.scss';

.buyer-details{
	p{
		font-size:$seventeen;
	}
	span{
		min-width:150px;
		display: inline-block;
		color:$purple-main;
	}
}

@media only screen and (max-width: 580px) {
	.buyer-details{
		span{
			display: block;
		}
	}
}